@font-face {
    font-family: 'MarioKart';
    src: url('Mario-Kart-DS.ttf')
}


.card-img-top {
    height: 18rem;
}

.card-text {
    height: 60px
}

.ImageClassement {
    background-image: url("https://i.imgur.com/0u0jFMo.gif");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 480px;
}

.titleClassement {
    font-family: 'Mario-Kart-DS.ttf', sans-serif;  
}
.boutonAcceuilClassement {
    margin-left: 7em;
    margin-top: 10em;
}